* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.background-header {
  background-color: rgba(12, 11, 14, 0.65);
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  gap: 20px;
}
.menu-logo {
  cursor: pointer;
}
.menu__link-item {
  color: #FFF;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover .menu__link-item {
  color: #EAFC52;
  transition: all 0.3s ease;
}
.menu__link-personal-account {
  width: 271px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid #EAFC52;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s ease;
}
.menu__link-personal-account-item {
  color: #EAFC52;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.menu__link-personal:hover .menu__link-personal-account {
  background-color: #EAFC52;
  transition: all 0.3s ease;
}
.menu__link-personal:hover .menu__link-personal-account .menu__link-personal-account-item {
  color: #000;
}

.burger-wrapper {
  display: none;
}

@media (max-width: 960px) {
  .menu__link-personal-account {
    width: 220px;
  }
}
@media (max-width: 900px) {
  .background-header {
    display: none;
  }
  .burger-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 30px 38px 0 38px;
    background-color: rgba(12, 11, 14, 0.65);
  }
  .burger-wrapper a {
    position: relative;
  }
  .burger-wrapper a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #D1A954;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: left;
  }
  .burger-wrapper a:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
  }
  .burger-wrapper .burger-logo {
    padding-top: 10px;
    order: 1;
  }
  .burger-wrapper .burger {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    order: 2;
  }
  .burger-wrapper .burger-span-top {
    height: 3px;
    width: 26px;
    background: #EAFC52;
  }
  .burger-wrapper .burger-span-middle {
    height: 3px;
    width: 26px;
    background: #EAFC52;
  }
  .burger-wrapper .burger-span-bottom {
    height: 3px;
    width: 26px;
    background: #EAFC52;
  }
  .burger-wrapper .burger-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 39%;
    height: 100%;
    background-color: #1B1B1B;
    padding: 10px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    padding: 30px 15px 0 0;
    display: flex;
    flex-direction: column;
    z-index: 12;
  }
  .burger-wrapper .burger-menu__close {
    position: relative;
  }
  .burger-wrapper .burger-menu__close-img {
    position: absolute;
    top: 0;
    right: 30px;
  }
  .burger-wrapper .burger-menu__list {
    padding: 110px 0 0 39px;
  }
  .burger-wrapper .burger-menu__list-item {
    color: #EAFC52;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .burger-wrapper .burger-menu__list-item a {
    text-decoration: none;
  }
  .burger-wrapper .active {
    right: 0;
  }
  .burger-wrapper .remove {
    right: -100%;
  }
  .burger-wrapper .burger-menu__list > li {
    margin: 0 0 35px 0;
  }
  .burger-wrapper .burger-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: 40px;
  }
  .burger-wrapper .burger-logo a {
    text-decoration: none;
  }
}
@media (max-width: 800px) {
  .burger-wrapper .burger-menu {
    width: 40%;
  }
}
@media (max-width: 730px) {
  .burger-wrapper {
    height: 78px;
    padding: 29px 52px 0 52px;
  }
}
@media (max-width: 600px) {
  .burger-wrapper .burger-menu {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .burger-wrapper .burger-menu {
    width: 60%;
  }
}
@media (max-width: 520px) {
  .burger-wrapper .burger-menu {
    text-align: center;
    width: 100%;
  }
}
.background-black {
  padding-top: 128px;
  background-color: rgb(12, 11, 14);
  width: 100%;
  height: auto;
}

.main-content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.main-content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.main-content__info-title {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}
.main-content__info-title-color {
  color: #EAFC52;
  font-size: 80px;
}
.main-content__info-title-mobilebr {
  display: none;
}
.main-content__info-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.main-content__info-textblock {
  width: 352px;
  height: 55px;
  border-radius: 20px;
  background: #1B1B1B;
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 12px;
}
.main-content__info-textblock-text {
  color: #EAFC52;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

.register-button {
  width: 367px;
  height: 97px;
  border-radius: 30px;
  background: #EAFC52;
  transition: all 0.3s ease;
}
.register-button-text {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.register-button:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.arrow-bottom {
  cursor: pointer;
  margin-bottom: 70px;
}

@media (max-width: 1020px) {
  .main-content__info-title {
    font-size: 40px;
  }
  .main-content__info-title-color {
    font-size: 60px;
  }
}
@media (max-width: 1020px) {
  .main-content {
    padding-top: 24px;
  }
}
@media (max-width: 730px) {
  .main-content {
    padding-top: 14px;
  }
  .main-content__info-title {
    font-size: 30px;
    line-height: 55px;
  }
  .main-content__info-title-color {
    font-size: 40px;
  }
  .main-content__info-text {
    font-size: 20px;
  }
  .main-content__info-textblock {
    width: 282px;
    height: 45px;
    border-radius: 20px;
    padding-top: 8px;
  }
  .main-content__info-textblock-text {
    font-size: 15px;
  }
  .register-button {
    width: 247px;
    height: 67px;
    border-radius: 30px;
  }
  .register-button-text {
    font-size: 16.553px;
  }
}
@media (max-width: 590px) {
  .main-content__info {
    gap: 10px;
  }
  .main-content__info-title {
    font-size: 30px;
    line-height: 45px;
  }
  .main-content__info-title-color {
    font-size: 40px;
  }
  .main-content__info-title-desctopbr {
    display: none;
  }
  .main-content__info-title-mobilebr {
    display: block;
  }
  .main-content__info-text {
    font-size: 15px;
  }
  .main-content__info-textblock {
    width: 282px;
    height: 45px;
    border-radius: 20px;
    padding-top: 8px;
  }
  .main-content__info-textblock-text {
    font-size: 15px;
  }
  .register-button {
    width: 247px;
    height: 67px;
    border-radius: 30px;
  }
  .register-button-text {
    font-size: 16.553px;
  }
}
@media (max-width: 420px) {
  .background-black {
    padding-top: 100px;
  }
  .main-content {
    padding-top: 0px;
    gap: 36px;
  }
  .main-content__info-title {
    line-height: 38px;
  }
  .main-content__info-text {
    line-height: 18px;
  }
  .main-content__info-textblock {
    margin-top: 17px;
    width: 186px;
    height: 39px;
    border-radius: 20px;
    padding-top: 4px;
  }
  .main-content__info-textblock-text {
    font-size: 13px;
  }
  .register-button {
    width: 243px;
    height: 64.226px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .register-button-text {
    font-size: 16.553px;
  }
  .arrow-bottom {
    display: none;
  }
}
.scout-content {
  padding-top: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.scout-content__info {
  display: flex;
  flex-direction: column;
  gap: 68px;
}
.scout-content__info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
}
.scout-content__info-title-first {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.scout-content__info-title-second {
  width: 634px;
  height: 55px;
  border-radius: 20px;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.81) 100%);
  padding-top: 10px;
}
.scout-content__info-title-second-text {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.scout-content__info-column {
  display: flex;
  gap: 230px;
}
.scout-content__info-column-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.scout-content__info-column-first-text {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.scout-content__info-column-first-img {
  width: 61px;
  height: 24px;
}
.scout-content__info-column-first-block {
  width: 362px;
  height: 72px;
  border-radius: 20px;
  background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 10px;
}
.scout-content__info-column-first-block-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.scout-content__info-column-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.scout-content__info-column-second-text {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.scout-content__info-column-second-img {
  width: 61px;
  height: 24px;
}
.scout-content__info-column-second-block {
  width: 561px;
  height: 66px;
  border-radius: 20px;
  background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 10px;
}
.scout-content__info-column-second-block-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1200px) {
  .scout-content__info-column {
    gap: 100px;
  }
}
@media (max-width: 1060px) {
  .scout-content__info-title-first {
    font-size: 50px;
  }
  .scout-content__info-title-second {
    width: 534px;
    height: 55px;
    padding-top: 14px;
  }
  .scout-content__info-title-second-text {
    font-size: 20px;
  }
  .scout-content__info-column {
    gap: 60px;
  }
  .scout-content__info-column-first-block {
    width: 302px;
    height: 72px;
    padding-top: 16px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 30px;
  }
  .scout-content__info-column-second-block {
    width: 461px;
    height: 66px;
    padding-top: 16px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 30px;
  }
}
@media (max-width: 880px) {
  .scout-content__info-title-first {
    font-size: 45px;
  }
  .scout-content__info-title-second {
    width: 340px;
    height: 55px;
    padding-top: 18px;
  }
  .scout-content__info-title-second-text {
    font-size: 16px;
  }
  .scout-content__info-column {
    gap: 30px;
  }
  .scout-content__info-column-first-block {
    width: 252px;
    height: 66px;
    padding-top: 18px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 25px;
  }
  .scout-content__info-column-second-block {
    width: 361px;
    height: 66px;
    padding-top: 18px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 25px;
  }
}
@media (max-width: 730px) {
  .scout-content__info {
    gap: 46px;
  }
  .scout-content__info-title {
    flex-direction: column;
    gap: 5px;
  }
  .scout-content__info-title-first {
    font-size: 45px;
  }
  .scout-content__info-title-second {
    width: 345px;
    height: 55px;
    padding-top: 18px;
  }
  .scout-content__info-title-second-text {
    font-size: 16px;
  }
  .scout-content__info-column {
    flex-direction: column;
    gap: 50px;
  }
  .scout-content__info-column-first-text {
    font-size: 30px;
  }
  .scout-content__info-column-first-block {
    width: 228px;
    height: 38px;
    padding-top: 4px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 24px;
  }
  .scout-content__info-column-second-text {
    font-size: 30px;
  }
  .scout-content__info-column-second-block {
    width: 337px;
    height: 38px;
    padding-top: 4px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .scout-content {
    padding-top: 20px;
  }
  .scout-content__info {
    gap: 46px;
  }
  .scout-content__info-title {
    flex-direction: column;
    gap: 5px;
  }
  .scout-content__info-title-first {
    font-size: 35px;
  }
  .scout-content__info-title-second {
    width: 305px;
    height: 30px;
    padding-top: 6px;
  }
  .scout-content__info-title-second-text {
    font-size: 14px;
  }
  .scout-content__info-column {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }
  .scout-content__info-column-first {
    gap: 7px;
  }
  .scout-content__info-column-first-text {
    font-size: 20px;
  }
  .scout-content__info-column-first-img {
    width: 22px;
    height: 8px;
  }
  .scout-content__info-column-first-block {
    width: 168px;
    height: 38px;
    padding-top: 8px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 18px;
  }
  .scout-content__info-column-second {
    gap: 7px;
  }
  .scout-content__info-column-second-text {
    font-size: 20px;
  }
  .scout-content__info-column-second-img {
    width: 22px;
    height: 8px;
  }
  .scout-content__info-column-second-block {
    width: 257px;
    height: 38px;
    padding-top: 8px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 18px;
  }
  .scout-content .register-button {
    display: none;
  }
  .scout-content .arrow-bottom {
    display: none;
  }
}
@media (max-width: 420px) {
  .scout-content__info-title-second {
    width: 275px;
    height: 30px;
    padding-top: 8px;
  }
  .scout-content__info-title-second-text {
    font-size: 13px;
  }
}/*# sourceMappingURL=style.css.map */