* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.background-header {
  background-color: rgb(12, 11, 14);
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  gap: 20px;
}
.menu-logo {
  cursor: pointer;
}
.menu__link-item {
  color: #FFF;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover .menu__link-item {
  color: #EAFC52;
  transition: all 0.3s ease;
}
.menu__link-personal-account {
  width: 271px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid #EAFC52;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s ease;
}
.menu__link-personal-account-item {
  color: #EAFC52;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.menu__link-personal:hover .menu__link-personal-account {
  background-color: #EAFC52;
  transition: all 0.3s ease;
}
.menu__link-personal:hover .menu__link-personal-account .menu__link-personal-account-item {
  color: #000;
}

@media (max-width: 960px) {
  .menu__link-personal-account {
    width: 220px;
  }
}
.background-main {
  padding-top: 128px;
  background-color: rgb(12, 11, 14);
  width: 100%;
  height: auto;
}

.main-content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.main-content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.main-content__info-title {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}
.main-content__info-title-color {
  color: #EAFC52;
  font-size: 80px;
}
.main-content__info-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.main-content__info-textblock {
  width: 352px;
  height: 55px;
  border-radius: 20px;
  background: #1B1B1B;
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 12px;
}
.main-content__info-textblock-text {
  color: #EAFC52;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}
.main-content__buttonblock {
  width: 367px;
  height: 97px;
  border-radius: 30px;
  background: #EAFC52;
  transition: all 0.3s ease;
}
.main-content__buttonblock-text {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.main-content__buttonblock:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.arrow-bottom {
  cursor: pointer;
  margin-bottom: 70px;
}

@media (max-width: 1020px) {
  .main-content__info-title {
    font-size: 40px;
  }
  .main-content__info-title-color {
    font-size: 60px;
  }
}/*# sourceMappingURL=style.css.map */