* {
  padding: 0%;
  margin: 0%;
  border: 0%;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

a {
  text-decoration: none;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

.lock {
  overflow: hidden;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  padding: 0 30px;
}

.background-header {
  background-color: rgba(12, 11, 14, 0.65);
  position: fixed;
  z-index: 5;
  width: 100%;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 18px;
  margin-bottom: 18px;
  gap: 20px;
}
.menu-logo {
  cursor: pointer;
}
.menu__link-item {
  color: #FFF;
  font-family: "Raleway";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover .menu__link-item {
  color: #EAFC52;
  transition: all 0.3s ease;
}
.menu__link-personal-account {
  width: 271px;
  height: 49px;
  border-radius: 50px;
  border: 1px solid #EAFC52;
  text-align: center;
  padding-top: 10px;
  transition: all 0.3s ease;
}
.menu__link-personal-account-item {
  color: #EAFC52;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.menu__link-personal:hover .menu__link-personal-account {
  background-color: #EAFC52;
  transition: all 0.3s ease;
}
.menu__link-personal:hover .menu__link-personal-account .menu__link-personal-account-item {
  color: #000;
}

.burger-wrapper {
  display: none;
}

@media (max-width: 960px) {
  .menu__link-personal-account {
    width: 220px;
  }
}
@media (max-width: 900px) {
  .background-header {
    display: none;
  }
  .burger-wrapper {
    position: fixed;
    display: flex;
    justify-content: space-between;
    z-index: 10;
    width: 100%;
    height: auto;
    align-items: center;
    padding: 30px 38px 0 38px;
    background-color: rgba(12, 11, 14, 0.65);
  }
  .burger-wrapper a {
    position: relative;
  }
  .burger-wrapper a:before {
    position: absolute;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #D1A954;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transition: transform 0.25s;
    transform-origin: left;
  }
  .burger-wrapper a:hover:before {
    transform: scaleX(1);
    transition: transform 0.25s;
  }
  .burger-wrapper .burger-logo {
    padding-top: 10px;
    order: 1;
  }
  .burger-wrapper .burger {
    position: relative;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 20px;
    order: 2;
  }
  .burger-wrapper .burger-span-top {
    height: 3px;
    width: 26px;
    background: #EAFC52;
  }
  .burger-wrapper .burger-span-middle {
    height: 3px;
    width: 26px;
    background: #EAFC52;
  }
  .burger-wrapper .burger-span-bottom {
    height: 3px;
    width: 26px;
    background: #EAFC52;
  }
  .burger-wrapper .burger-menu {
    position: fixed;
    top: 0;
    right: -100%;
    width: 39%;
    height: 100%;
    background-color: #1B1B1B;
    padding: 10px;
    transition: right 0.3s ease 0s;
    overflow: auto;
    padding: 30px 15px 0 0;
    display: flex;
    flex-direction: column;
    z-index: 12;
  }
  .burger-wrapper .burger-menu__close {
    position: relative;
  }
  .burger-wrapper .burger-menu__close-img {
    position: absolute;
    top: 0;
    right: 30px;
  }
  .burger-wrapper .burger-menu__list {
    padding: 110px 0 0 39px;
  }
  .burger-wrapper .burger-menu__list-item {
    color: #EAFC52;
    font-family: "Raleway";
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
  }
  .burger-wrapper .burger-menu__list-item a {
    text-decoration: none;
  }
  .burger-wrapper .active {
    right: 0;
  }
  .burger-wrapper .remove {
    right: -100%;
  }
  .burger-wrapper .burger-menu__list > li {
    margin: 0 0 35px 0;
  }
  .burger-wrapper .burger-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3px;
    margin-bottom: 40px;
  }
  .burger-wrapper .burger-logo a {
    text-decoration: none;
  }
}
@media (max-width: 800px) {
  .burger-wrapper .burger-menu {
    width: 40%;
  }
}
@media (max-width: 730px) {
  .burger-wrapper {
    height: 78px;
    padding: 29px 52px 0 52px;
  }
}
@media (max-width: 600px) {
  .burger-wrapper .burger-menu {
    width: 50%;
  }
}
@media (max-width: 600px) {
  .burger-wrapper .burger-menu {
    width: 60%;
  }
}
@media (max-width: 520px) {
  .burger-wrapper .burger-menu {
    text-align: center;
    width: 100%;
  }
}
.background-black {
  padding-top: 128px;
  background-color: rgb(12, 11, 14);
  width: 100%;
  height: auto;
}

.main-content {
  padding-top: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
.main-content__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 29px;
}
.main-content__info-title {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 700;
  line-height: 75px;
  text-transform: uppercase;
  text-align: center;
}
.main-content__info-title-color {
  color: #EAFC52;
  font-size: 80px;
}
.main-content__info-title-mobilebr {
  display: none;
}
.main-content__info-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: 35px;
}
.main-content__info-textblock {
  width: 352px;
  height: 55px;
  border-radius: 20px;
  background: #1B1B1B;
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 12px;
}
.main-content__info-textblock-text {
  color: #EAFC52;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: 29px;
}

.register-button {
  width: 367px;
  height: 97px;
  border-radius: 30px;
  background: #EAFC52;
  transition: all 0.3s ease;
}
.register-button-text {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.register-button:hover {
  transition: all 0.3s ease;
  transform: scale(1.1);
}

.arrow-bottom {
  cursor: pointer;
  margin-bottom: 70px;
}

@media (max-width: 1020px) {
  .main-content__info-title {
    font-size: 40px;
  }
  .main-content__info-title-color {
    font-size: 60px;
  }
}
@media (max-width: 1020px) {
  .main-content {
    padding-top: 24px;
  }
}
@media (max-width: 730px) {
  .main-content {
    padding-top: 14px;
  }
  .main-content__info-title {
    font-size: 30px;
    line-height: 55px;
  }
  .main-content__info-title-color {
    font-size: 40px;
  }
  .main-content__info-text {
    font-size: 20px;
  }
  .main-content__info-textblock {
    width: 282px;
    height: 45px;
    border-radius: 20px;
    padding-top: 8px;
  }
  .main-content__info-textblock-text {
    font-size: 15px;
  }
  .register-button {
    width: 247px;
    height: 67px;
    border-radius: 30px;
  }
  .register-button-text {
    font-size: 16.553px;
  }
}
@media (max-width: 590px) {
  .main-content__info {
    gap: 10px;
  }
  .main-content__info-title {
    font-size: 30px;
    line-height: 45px;
  }
  .main-content__info-title-color {
    font-size: 40px;
  }
  .main-content__info-title-desctopbr {
    display: none;
  }
  .main-content__info-title-mobilebr {
    display: block;
  }
  .main-content__info-text {
    font-size: 15px;
  }
  .main-content__info-textblock {
    width: 282px;
    height: 45px;
    border-radius: 20px;
    padding-top: 8px;
  }
  .main-content__info-textblock-text {
    font-size: 15px;
  }
  .register-button {
    width: 247px;
    height: 67px;
    border-radius: 30px;
  }
  .register-button-text {
    font-size: 16.553px;
  }
}
@media (max-width: 420px) {
  .background-black {
    padding-top: 100px;
  }
  .main-content {
    padding-top: 0px;
    gap: 36px;
  }
  .main-content__info-title {
    line-height: 38px;
  }
  .main-content__info-text {
    line-height: 18px;
  }
  .main-content__info-textblock {
    margin-top: 17px;
    width: 186px;
    height: 39px;
    border-radius: 20px;
    padding-top: 4px;
  }
  .main-content__info-textblock-text {
    font-size: 13px;
  }
  .register-button {
    width: 243px;
    height: 64.226px;
    border-radius: 20px;
    margin-bottom: 50px;
  }
  .register-button-text {
    font-size: 16.553px;
  }
  .arrow-bottom {
    display: none;
  }
}
.scout-content {
  padding-top: 62px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 48px;
}
.scout-content__info {
  display: flex;
  flex-direction: column;
  gap: 68px;
}
.scout-content__info-title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 37px;
}
.scout-content__info-title-first {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.scout-content__info-title-second {
  width: 634px;
  height: 55px;
  border-radius: 20px;
  background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.81) 100%);
  padding-top: 10px;
}
.scout-content__info-title-second-text {
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.scout-content__info-column {
  display: flex;
  gap: 230px;
}
.scout-content__info-column-first {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.scout-content__info-column-first-text {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.scout-content__info-column-first-img {
  width: 61px;
  height: 24px;
}
.scout-content__info-column-first-block {
  width: 362px;
  height: 72px;
  border-radius: 20px;
  background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 10px;
}
.scout-content__info-column-first-block-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.scout-content__info-column-second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.scout-content__info-column-second-text {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
}
.scout-content__info-column-second-img {
  width: 61px;
  height: 24px;
}
.scout-content__info-column-second-block {
  width: 561px;
  height: 66px;
  border-radius: 20px;
  background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
  box-shadow: 0px 4px 15px 0px #000;
  padding-top: 10px;
}
.scout-content__info-column-second-block-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

@media (max-width: 1200px) {
  .scout-content__info-column {
    gap: 100px;
  }
}
@media (max-width: 1060px) {
  .scout-content__info-title-first {
    font-size: 50px;
  }
  .scout-content__info-title-second {
    width: 534px;
    height: 55px;
    padding-top: 14px;
  }
  .scout-content__info-title-second-text {
    font-size: 20px;
  }
  .scout-content__info-column {
    gap: 60px;
  }
  .scout-content__info-column-first-block {
    width: 302px;
    height: 72px;
    padding-top: 16px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 30px;
  }
  .scout-content__info-column-second-block {
    width: 461px;
    height: 66px;
    padding-top: 16px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 30px;
  }
}
@media (max-width: 880px) {
  .scout-content__info-title-first {
    font-size: 45px;
  }
  .scout-content__info-title-second {
    width: 340px;
    height: 55px;
    padding-top: 18px;
  }
  .scout-content__info-title-second-text {
    font-size: 16px;
  }
  .scout-content__info-column {
    gap: 30px;
  }
  .scout-content__info-column-first-block {
    width: 252px;
    height: 66px;
    padding-top: 18px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 25px;
  }
  .scout-content__info-column-second-block {
    width: 361px;
    height: 66px;
    padding-top: 18px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 25px;
  }
}
@media (max-width: 730px) {
  .scout-content__info {
    gap: 46px;
  }
  .scout-content__info-title {
    flex-direction: column;
    gap: 5px;
  }
  .scout-content__info-title-first {
    font-size: 45px;
  }
  .scout-content__info-title-second {
    width: 345px;
    height: 55px;
    padding-top: 18px;
  }
  .scout-content__info-title-second-text {
    font-size: 16px;
  }
  .scout-content__info-column {
    flex-direction: column;
    gap: 50px;
  }
  .scout-content__info-column-first-text {
    font-size: 30px;
  }
  .scout-content__info-column-first-block {
    width: 228px;
    height: 38px;
    padding-top: 4px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 24px;
  }
  .scout-content__info-column-second-text {
    font-size: 30px;
  }
  .scout-content__info-column-second-block {
    width: 337px;
    height: 38px;
    padding-top: 4px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 24px;
  }
}
@media (max-width: 420px) {
  .scout-content {
    padding-top: 20px;
  }
  .scout-content__info {
    gap: 46px;
  }
  .scout-content__info-title {
    flex-direction: column;
    gap: 5px;
  }
  .scout-content__info-title-first {
    font-size: 35px;
  }
  .scout-content__info-title-second {
    width: 305px;
    height: 30px;
    padding-top: 6px;
  }
  .scout-content__info-title-second-text {
    font-size: 14px;
  }
  .scout-content__info-column {
    flex-direction: column;
    gap: 50px;
    margin-bottom: 80px;
  }
  .scout-content__info-column-first {
    gap: 7px;
  }
  .scout-content__info-column-first-text {
    font-size: 20px;
  }
  .scout-content__info-column-first-img {
    width: 22px;
    height: 8px;
  }
  .scout-content__info-column-first-block {
    width: 168px;
    height: 38px;
    padding-top: 8px;
  }
  .scout-content__info-column-first-block-text {
    font-size: 18px;
  }
  .scout-content__info-column-second {
    gap: 7px;
  }
  .scout-content__info-column-second-text {
    font-size: 20px;
  }
  .scout-content__info-column-second-img {
    width: 22px;
    height: 8px;
  }
  .scout-content__info-column-second-block {
    width: 257px;
    height: 38px;
    padding-top: 8px;
  }
  .scout-content__info-column-second-block-text {
    font-size: 18px;
  }
  .scout-content .register-button {
    display: none;
  }
  .scout-content .arrow-bottom {
    display: none;
  }
}
@media (max-width: 420px) {
  .scout-content__info {
    height: 390px;
  }
  .scout-content__info-title-second {
    width: 305px;
    height: 30px;
    padding-top: 8px;
  }
  .scout-content__info-title-second-text {
    font-size: 14px;
  }
}
.shinobi-content {
  display: flex;
  gap: 48px;
  padding-top: 37px;
}
.shinobi-content__left {
  padding-left: 74px;
  position: relative;
  z-index: 1;
}
.shinobi-content__left-shinobi-img {
  z-index: 2;
  width: 914px;
  height: 890px;
}
.shinobi-content__left-circle-img {
  position: absolute;
  top: -36px;
  right: -46px;
  z-index: -1;
}
.shinobi-content__left .arrow-bottom {
  position: absolute;
  bottom: -60px;
  right: 10px;
  z-index: 3;
}
.shinobi-content__right {
  padding-top: 190px;
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.shinobi-content__right-title {
  padding-left: 44px;
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 90px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.shinobi-content__right-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.shinobi-content__right-info-textblock {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 36px;
}
.shinobi-content__right-info-textblock-text {
  color: #C3C3C3;
  text-align: right;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  width: 449px;
}
.shinobi-content__right-info-textblock-text .shinobi-content_color {
  color: #FFF;
}
@media (max-width: 1600px) {
  .shinobi-content__left {
    padding-left: 0px;
  }
}
@media (max-width: 1530px) {
  .shinobi-content__left {
    padding-left: 100px;
  }
  .shinobi-content__left-shinobi-img {
    width: 654px;
    height: 690px;
  }
  .shinobi-content__left-circle-img {
    width: 400px;
    height: 400px;
    top: -100px;
    right: -100px;
  }
}
@media (max-width: 1370px) {
  .shinobi-content__left {
    padding-left: 0px;
  }
  .shinobi-content__left-shinobi-img {
    width: 654px;
    height: 690px;
  }
  .shinobi-content__left-circle-img {
    width: 350px;
    height: 350px;
    top: -60px;
    right: -60px;
  }
}
@media (max-width: 1260px) {
  .shinobi-content {
    gap: 0;
  }
  .shinobi-content__left {
    padding-left: 100px;
  }
  .shinobi-content__left-shinobi-img {
    width: 554px;
    height: 590px;
  }
  .shinobi-content__left-circle-img {
    width: 300px;
    height: 300px;
    top: -60px;
    right: -60px;
  }
  .shinobi-content__left .arrow-bottom {
    right: 6px;
  }
  .shinobi-content__right-title {
    font-size: 70px;
  }
  .shinobi-content__right-info-textblock-text {
    font-size: 16px;
    width: 380px;
  }
  .shinobi-content__right-info-textblock-img {
    width: 38px;
  }
}
@media (max-width: 1130px) {
  .shinobi-content {
    gap: 0px;
  }
  .shinobi-content__left {
    padding-left: 140px;
  }
  .shinobi-content__left-shinobi-img {
    width: 454px;
    height: 410px;
  }
  .shinobi-content__left-circle-img {
    width: 300px;
    height: 300px;
    top: -100px;
    right: -100px;
  }
  .shinobi-content__left .arrow-bottom {
    right: 6px;
    bottom: -70px;
  }
  .shinobi-content__right {
    padding-top: 0;
  }
  .shinobi-content__right-info-textblock {
    gap: 15px;
  }
}
@media (max-width: 1040px) {
  .shinobi-content {
    gap: 0px;
  }
  .shinobi-content__left {
    padding-left: 0px;
  }
}
@media (max-width: 900px) {
  .shinobi-content {
    flex-direction: column;
    gap: 0px;
  }
  .shinobi-content__left {
    padding-left: 200px;
  }
  .shinobi-content__left-shinobi-img {
    width: 454px;
    height: 410px;
  }
  .shinobi-content__left-circle-img {
    width: 250px;
    height: 250px;
    top: -80px;
    right: 200px;
  }
  .shinobi-content__left .arrow-bottom {
    display: none;
  }
  .shinobi-content__right {
    padding-top: 45px;
    padding-left: 20px;
    margin-bottom: 166px;
  }
  .shinobi-content__right-title {
    padding-left: 240px;
  }
  .shinobi-content__right-info-textblock {
    gap: 12px;
  }
  .shinobi-content__right-info-textblock-text {
    text-align: left;
    order: 2;
  }
  .shinobi-content__right-info-textblock-img {
    order: 1;
    transform: rotate(180deg);
  }
}
@media (max-width: 870px) {
  .shinobi-content__left-circle-img {
    width: 200px;
    height: 200px;
    top: -40px;
    right: 180px;
  }
}
@media (max-width: 770px) {
  .shinobi-content__left {
    padding-left: 100px;
  }
  .shinobi-content__left-circle-img {
    top: -40px;
    right: 120px;
  }
  .shinobi-content__right-title {
    padding-left: 100px;
  }
}
@media (max-width: 610px) {
  .shinobi-content__left {
    padding-left: 0;
  }
  .shinobi-content__left-circle-img {
    top: -40px;
    right: 60px;
  }
}
@media (max-width: 500px) {
  .shinobi-content__left {
    padding-left: 20px;
  }
  .shinobi-content__left-shinobi-img {
    width: 339px;
    height: 343px;
  }
  .shinobi-content__left-circle-img {
    width: 200px;
    height: 200px;
    top: -40px;
    right: 40px;
  }
  .shinobi-content__left .arrow-bottom {
    display: none;
  }
  .shinobi-content__right {
    padding-top: 45px;
    padding-left: 0px;
  }
  .shinobi-content__right-title {
    padding-left: 100px;
    font-size: 35px;
  }
  .shinobi-content__right-info-textblock {
    gap: 12px;
  }
  .shinobi-content__right-info-textblock-text {
    text-align: left;
    order: 2;
    font-size: 14px;
    width: 340px;
  }
}
@media (max-width: 420px) {
  .shinobi-content {
    padding-top: 3px;
  }
  .shinobi-content__left {
    padding-left: 29px;
  }
  .shinobi-content__left-shinobi-img {
    width: 299px;
    height: 343px;
  }
  .shinobi-content__left-circle-img {
    width: 203px;
    height: 203px;
    top: -26px;
    right: 26px;
  }
  .shinobi-content__left .arrow-bottom {
    display: none;
  }
  .shinobi-content__right {
    padding-top: 45px;
    padding-left: 28px;
    gap: 20px;
  }
  .shinobi-content__right-title {
    padding-left: 32px;
    font-size: 35px;
  }
  .shinobi-content__right-info {
    gap: 25px;
  }
  .shinobi-content__right-info-textblock {
    gap: 12px;
  }
  .shinobi-content__right-info-textblock-text {
    text-align: left;
    order: 2;
    font-size: 14px;
    width: 340px;
  }
}
@media (max-width: 419px) {
  .shinobi-content {
    padding-top: 3px;
  }
  .shinobi-content__left {
    padding-left: 29px;
  }
  .shinobi-content__left-shinobi-img {
    width: 259px;
    height: 293px;
  }
  .shinobi-content__left-circle-img {
    width: 203px;
    height: 203px;
    top: -50px;
    right: 0px;
  }
  .shinobi-content__left .arrow-bottom {
    display: none;
  }
  .shinobi-content__right {
    padding-top: 45px;
    padding-left: 0px;
    gap: 20px;
  }
  .shinobi-content__right-title {
    padding-left: 32px;
    font-size: 35px;
  }
  .shinobi-content__right-info {
    gap: 25px;
  }
  .shinobi-content__right-info-textblock {
    gap: 6px;
  }
  .shinobi-content__right-info-textblock-text {
    text-align: left;
    order: 2;
    font-size: 12px;
    width: 270px;
  }
  .shinobi-content__right-info-textblock-img {
    width: 30px;
  }
}
@media (max-width: 340px) {
  .shinobi-content {
    padding-top: 3px;
  }
  .shinobi-content__left {
    padding-left: 29px;
  }
  .shinobi-content__left-shinobi-img {
    width: 259px;
    height: 293px;
  }
  .shinobi-content__left-circle-img {
    width: 160px;
    height: 160px;
    top: -40px;
    right: 0px;
  }
}
.background-clip-path-wrapper {
  position: relative;
  height: auto;
}

.shinobi-outer div {
  display: inline-block;
  transform: rotate(-3.867deg) translateY(-400px);
  margin-bottom: 200px;
  margin-top: 300px;
  position: relative;
  z-index: 100;
}

.shinobi-loop {
  white-space: nowrap;
  animation: loop-anim 15s linear infinite;
}

.shinobi-loop__content {
  font-family: "Orbitron", sans-serif;
  font-size: 100px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  color: rgba(136, 136, 136, 0.5215686275);
}

@keyframes loop-anim {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -50%;
  }
}
.background-grey-clip-path {
  transform: translateY(-1700px);
  background-color: #171717;
  width: 100%;
  height: 3000px;
  -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
  margin-bottom: 0px;
  z-index: -3;
}

.background-black-clip-path {
  background-color: rgb(12, 11, 14);
  width: 100%;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
  z-index: -3;
  height: 826px;
  margin-bottom: -60px;
}

.how-content {
  padding-top: 128px;
  height: auto;
  width: 100%;
}
.how-content__title {
  text-align: center;
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.how-content__title-block {
  width: 464px;
  max-height: 98px;
  background: #EAFC52;
  color: #000;
}
.how-content__arrow-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 95px 0 0 16px;
  height: 37px;
}
.how-content__arrow-bottom .arrow-bottom {
  align-items: center;
}
.how-content__tabs {
  padding-top: 133px;
}
.how-content__tabs-nav::before {
  content: "";
  position: absolute;
  top: 355px;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.63);
}
.how-content__tabs-nav {
  padding: 12px 0 0 88px;
  display: flex;
  gap: 200px;
  align-items: center;
}
.how-content__tabs-nav-btn {
  color: rgba(255, 255, 255, 0.31);
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  border: none;
  background: none;
  position: relative;
  transition: none 0.5s ease;
}
.how-content__tabs-nav .active:before {
  content: "";
  position: absolute;
  top: -30px;
  left: 10px;
  width: 32px;
  height: 32px;
  background: #FFF;
  transition: all 0.5s ease;
}
.how-content__tabs-nav .active {
  color: #EBFC56;
  transition: all 0.5s ease;
}
.how-content__tabs-content {
  padding: 0px 0 0 0px;
  display: flex;
  gap: 38px;
}
.how-content__tabs-content-item {
  opacity: 0;
  pointer-events: none;
  text-align: center;
}
.how-content__tabs-content-item p {
  padding-top: 12px;
  text-align: center;
  color: #939393;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.how-content__tabs-content-item h3 {
  color: #939393;
  font-family: "Raleway";
  font-size: 25px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.how-content__tabs-content-item span {
  color: #B4B4B4;
}
.how-content__tabs-content .active {
  display: block;
  opacity: 1;
  pointer-events: auto;
}

.shinobi-outer {
  overflow: hidden;
  width: 100%;
  pointer-events: none;
}

@media (max-width: 1250px) {
  .how-content__tabs-nav {
    gap: 150px;
  }
  .how-content__tabs-nav-btn {
    font-size: 60px;
  }
  .how-content__tabs-nav .active::before {
    width: 25px;
    height: 25px;
  }
  .how-content__tabs-content {
    gap: 20px;
    padding-left: 30px;
  }
  .how-content__tabs-content-item p {
    font-size: 18px;
  }
  .how-content__tabs-content-item h3 {
    font-size: 18px;
  }
  .how-content__tabs-content-item span {
    font-size: 18px;
  }
}
@media (max-width: 1010px) {
  .how-content__title {
    font-size: 50px;
  }
  .how-content__tabs-nav::before {
    top: 320px;
  }
  .how-content__tabs-nav {
    gap: 100px;
  }
  .how-content__tabs-nav-btn {
    font-size: 60px;
  }
  .how-content__tabs-content {
    gap: 0px;
  }
  .how-content__tabs-content-item p {
    font-size: 15px;
  }
  .how-content__tabs-content-item h3 {
    font-size: 15px;
  }
  .how-content__tabs-content-item span {
    font-size: 15px;
  }
}
@media (max-width: 900px) {
  .background-black-clip-path {
    height: 1000px;
    margin-bottom: -20px;
  }
  .how-content {
    padding-top: 32px;
  }
  .how-content__title {
    font-size: 50px;
  }
  .how-content__tabs {
    justify-content: center;
    align-items: center;
    padding: 250px 0 0 450px;
    transform: translateY(-200px) translateX(-300px);
  }
  .how-content__tabs-nav::before {
    content: "";
    position: absolute;
    width: 549px;
    height: 1px;
    top: 540px;
    left: 285px;
    transform: rotate(-90deg);
  }
  .how-content__tabs-nav {
    flex-direction: column;
    gap: 43px;
  }
  .how-content__tabs-nav-btn {
    font-size: 60px;
    width: 50px;
  }
  .how-content__tabs-nav .active:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -150px;
    width: 32px;
    height: 32px;
    background: #FFF;
    transition: all 0.5s ease;
  }
  .how-content__tabs-nav .active {
    color: #EBFC56;
    transition: all 0.5s ease;
  }
  .how-content__tabs-content {
    flex-direction: column;
    gap: 60px;
    padding-left: 0px;
    margin-left: 50px;
    transform: translateY(-530px) translateX(250px);
    max-width: 200px;
  }
  .how-content__tabs-content-item p {
    font-size: 15px;
  }
  .how-content__tabs-content-item h3 {
    font-size: 15px;
  }
  .how-content__tabs-content-item span {
    font-size: 15px;
  }
}
@media (max-width: 890px) {
  .how-content__tabs-nav::before {
    left: 275px;
  }
}
@media (max-width: 870px) {
  .how-content__tabs-nav::before {
    left: 265px;
  }
}
@media (max-width: 850px) {
  .how-content__tabs-nav::before {
    left: 255px;
  }
}
@media (max-width: 830px) {
  .how-content__tabs-nav::before {
    left: 245px;
  }
}
@media (max-width: 810px) {
  .how-content__tabs-nav::before {
    left: 235px;
  }
}
@media (max-width: 790px) {
  .how-content__tabs-nav::before {
    left: 225px;
  }
}
@media (max-width: 770px) {
  .how-content__tabs-nav::before {
    left: 215px;
  }
  .how-content__tabs-content {
    width: 400px;
    margin-left: 0;
    gap: 66px;
  }
  .how-content__tabs-content-item {
    max-height: 102px;
  }
  .how-content__tabs-content-item p {
    max-height: 102px;
  }
  .how-content-br {
    display: none;
  }
}
@media (max-width: 750px) {
  .how-content__tabs-nav::before {
    left: 205px;
  }
}
@media (max-width: 730px) {
  .how-content__tabs-nav::before {
    left: 195px;
  }
}
@media (max-width: 710px) {
  .how-content__tabs {
    gap: 0;
  }
  .how-content__tabs-nav::before {
    left: 185px;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(210px);
  }
}
@media (max-width: 690px) {
  .how-content__tabs-nav::before {
    left: 175px;
  }
}
@media (max-width: 670px) {
  .how-content__tabs-nav::before {
    left: 165px;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(190px);
  }
}
@media (max-width: 650px) {
  .how-content__tabs-nav::before {
    left: 155px;
  }
}
@media (max-width: 630px) {
  .how-content__title {
    font-size: 40px;
  }
  .how-content__tabs-nav::before {
    left: 145px;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(170px);
  }
}
@media (max-width: 610px) {
  .how-content__tabs-nav::before {
    left: 135px;
  }
}
@media (max-width: 590px) {
  .how-content__tabs {
    padding-left: 300px;
  }
  .how-content__tabs-nav::before {
    left: 125px;
  }
  .how-content__tabs-nav .active:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -80px;
    width: 32px;
    height: 32px;
    background: #FFF;
    transition: all 0.5s ease;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(200px);
  }
}
@media (max-width: 570px) {
  .how-content__tabs-nav::before {
    left: 115px;
  }
}
@media (max-width: 550px) {
  .how-content__tabs-nav::before {
    left: 105px;
  }
}
@media (max-width: 530px) {
  .how-content__tabs-nav::before {
    left: 95px;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(180px);
  }
}
@media (max-width: 510px) {
  .how-content__tabs-nav::before {
    left: 85px;
  }
}
@media (max-width: 490px) {
  .how-content {
    padding-top: 30px;
    padding-left: 10px;
  }
  .how-content__title {
    font-size: 30px;
    padding-left: 10px;
  }
  .how-content__tabs-nav::before {
    left: 75px;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(160px);
  }
}
@media (max-width: 470px) {
  .how-content__tabs-nav::before {
    left: 65px;
  }
}
@media (max-width: 450px) {
  .how-content__tabs-nav::before {
    left: 75px;
  }
  .how-content__tabs-nav .active:before {
    content: "";
    position: absolute;
    top: 20px;
    left: -60px;
    width: 32px;
    height: 32px;
    background: #FFF;
    transition: all 0.5s ease;
  }
  .how-content__tabs-content {
    transform: translateY(-530px) translateX(140px);
  }
}
@media (max-width: 430px) {
  .how-content__tabs-nav::before {
    left: 75px;
  }
}
@media (max-width: 420px) {
  .how-content__tabs {
    padding-top: 220px;
    padding-left: 275px;
  }
  .how-content__tabs-nav::before {
    left: 75px;
    top: 510px;
  }
  .how-content__tabs-nav .active:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -27px;
    width: 19px;
    height: 19px;
    background: #FFF;
    transition: all 0.5s ease;
  }
  .how-content__tabs-content {
    transform: translateY(-526px) translateX(120px);
  }
}
@media (max-width: 400px) {
  .how-content__title {
    font-size: 24px;
  }
}
@media (max-width: 350px) {
  .how-content__tabs {
    padding-left: 255px;
  }
  .how-content__tabs-nav::before {
    left: 55px;
    top: 510px;
  }
  .how-content__tabs-nav .active:before {
    content: "";
    position: absolute;
    top: 40px;
    left: -27px;
    width: 19px;
    height: 19px;
    background: #FFF;
    transition: all 0.5s ease;
  }
}
.money-content {
  padding-top: 322px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  justify-content: center;
  align-items: center;
}
.money-content__info {
  display: flex;
  gap: 314px;
}
.money-content__info-first-text {
  padding-left: 20px;
}
.money-content__info-first-text-underline {
  color: #FAFF00;
  font-family: "Raleway";
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  position: relative;
  max-width: 150px;
  transform: translateX(-100px);
  padding-top: 0px;
}
.money-content__info-first-text-underline:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #D1A954;
  left: -10px;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.money-content__info-first-text-underline:hover:before {
  transform: scaleX(1);
  transition: transform 0.25s;
}
.money-content__info-first-text-big {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 26px;
}
.money-content__info-second-text {
  padding-left: 20px;
}
.money-content__info-second-text-underline {
  color: #FAFF00;
  font-family: "Raleway";
  font-size: 30px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
  position: relative;
  max-width: 77px;
  transform: translateX(-52px);
}
.money-content__info-second-text-underline:before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: #D1A954;
  left: -10px;
  bottom: -5px;
  transform: scaleX(0);
  transition: transform 0.25s;
  transform-origin: left;
}
.money-content__info-second-text-underline:hover:before {
  transform: scaleX(1);
  transition: transform 0.25s;
}
.money-content__info-second-text-big {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  padding-top: 26px;
}
@media (max-width: 1220px) {
  .money-content__info {
    gap: 80px;
  }
  .money-content__info-first-text-underline {
    font-size: 26px;
    transform: translateX(-60px);
  }
  .money-content__info-second-text-underline {
    font-size: 26px;
    transform: translateX(-60px);
  }
  .money-content__info-second-text-big {
    font-size: 60px;
  }
}
@media (max-width: 860px) {
  .background-grey-clip-path {
    -webkit-clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 3%, 100% 0, 100% 100%, 0% 100%);
  }
  .money-content__info {
    gap: 80px;
    flex-direction: column;
  }
  .money-content__info-first-text-underline {
    font-size: 20px;
    width: 100px;
    transform: translateX(-50px);
  }
  .money-content__info-first-text-big {
    font-size: 40px;
    text-align: center;
  }
  .money-content__info-second-text-underline {
    font-size: 20px;
    width: 57px;
    transform: translateX(-50px);
  }
  .money-content__info-second-text-big {
    font-size: 40px;
    text-align: center;
  }
}
@media (max-width: 420px) {
  .background-black-clip-path {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
  }
  .background-grey-clip-path {
    -webkit-clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
            clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0% 100%);
    transform: translateY(-1916px);
  }
  .money-content {
    padding-top: 184px;
  }
  .money-content__info {
    gap: 54px;
  }
  .money-content__info-first-text-big {
    padding-top: 40px;
    padding-right: 14px;
  }
  .money-content__info-second-text-big {
    padding-top: 36px;
    padding-right: 28px;
  }
}
@media (max-width: 370px) {
  .money-content__info {
    gap: 80px;
    flex-direction: column;
  }
  .money-content__info-first-text-underline {
    transform: translateX(-30px);
  }
  .money-content__info-second-text-underline {
    transform: translateX(-30px);
  }
}
.can-content {
  padding-top: 65px;
}
.can-content__title {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.can-content__title-first {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}
.can-content__title-first span {
  color: #1B1B1B;
  font-family: "Orbitron", sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background: #EAFC52;
}
.can-content__title-second {
  border-radius: 20px;
  background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0) 100%);
  box-shadow: 0px 4px 15px 0px #000;
  max-width: 329px;
  height: 52px;
  margin: 14px 0 0 170px;
  padding-top: 10px;
}
.can-content__title-second-text {
  color: #EBFC56;
  text-align: center;
  font-family: "Raleway";
  font-size: 25px;
  font-style: italic;
  font-weight: 600;
  line-height: normal;
}
.can-content__rows {
  padding-top: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 33px;
}
.can-content__rows .can-content__row {
  width: 100%;
  height: 158px;
  background: #161618;
  box-shadow: 0px 4px 28px 0px rgba(0, 0, 0, 0.52);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
.can-content__rows .can-content__row-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.can-content__rows .can-content__row-column-img {
  width: 25px;
  height: 25px;
  transition: all 0.3s ease;
}
.can-content__rows .can-content__row-column-img:hover {
  transition: all 0.3s ease;
  transform: scale(1.3);
}
.can-content__rows .can-content__row-column-text {
  color: #FFF;
  text-align: center;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  height: 78px;
}

@media (max-width: 1140px) {
  .can-content__title-first {
    font-size: 60px;
  }
  .can-content__title-first span {
    font-size: 60px;
  }
  .can-content__rows .can-content__row {
    height: auto;
    gap: 20px;
  }
  .can-content__rows .can-content__row-column-text {
    font-size: 18px;
  }
}
@media (max-width: 860px) {
  .can-content__title-first {
    font-size: 60px;
  }
  .can-content__title-first span {
    font-size: 60px;
  }
  .can-content__rows {
    gap: 10px;
    justify-content: left;
    align-items: left;
    margin-right: 25px;
  }
  .can-content__rows .can-content__row-img {
    display: none;
  }
  .can-content__rows .can-content__row {
    box-shadow: none;
    gap: 20px;
    justify-content: left;
    align-items: baseline;
    flex-direction: column;
    padding-left: 200px;
  }
  .can-content__rows .can-content__row-column {
    justify-content: left;
    align-items: left;
    flex-direction: row;
    gap: 20px;
  }
  .can-content__rows .can-content__row-column-img {
    align-items: left;
  }
  .can-content__rows .can-content__row-column-text {
    font-size: 18px;
    height: auto;
    text-align: left;
  }
  .can-content__rows .can-content__row-column-text .can-content-br {
    display: none;
  }
}
@media (max-width: 770px) {
  .can-content__title-first {
    font-size: 40px;
  }
  .can-content__title-first span {
    font-size: 40px;
  }
  .can-content__title-second {
    max-width: 259px;
    margin: 14px 0 0 10px;
    padding-top: 14px;
  }
  .can-content__title-second-text {
    font-size: 18px;
  }
  .can-content__rows .can-content__row {
    padding-left: 100px;
  }
}
@media (max-width: 520px) {
  .can-content {
    padding-top: 26px;
  }
  .can-content__title-first {
    font-size: 28px;
  }
  .can-content__title-first span {
    font-size: 28px;
  }
  .can-content__title-second {
    margin: 14px 0 0 16px;
    padding-top: 8px;
    width: 209px;
    height: 33.033px;
  }
  .can-content__title-second-text {
    font-size: 15px;
  }
  .can-content__rows {
    padding-left: 60px;
    padding-top: 26px;
    gap: 15px;
  }
  .can-content__rows .can-content__row {
    padding-left: 60px;
    gap: 15px;
  }
  .can-content__rows .can-content__row-column {
    gap: 10px;
  }
  .can-content__rows .can-content__row-column-img {
    width: 11px;
    height: 11px;
  }
  .can-content__rows .can-content__row-column-text {
    font-size: 13px;
    width: 242px;
  }
  .can-content__rows .arrow-bottom {
    display: none;
  }
}
@media (max-width: 440px) {
  .can-content__rows {
    padding-left: 40px;
  }
}
@media (max-width: 380px) {
  .can-content__title-first {
    font-size: 22px;
  }
  .can-content__title-first span {
    font-size: 22px;
  }
  .can-content__rows .can-content__row {
    padding-left: 30px;
  }
}
@media (max-width: 370px) {
  .can-content__rows .can-content__row {
    padding-left: 0px;
  }
}
@media (max-width: 340px) {
  .can-content__rows {
    padding-left: 20px;
  }
}
.strategy-content {
  padding-top: 18px;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.strategy-content__first-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strategy-content__first-row-title {
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 68px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
.strategy-content__first-row-title span {
  color: #EBFC56;
}
.strategy-content__first-row-title::before {
  content: "";
  position: absolute;
  top: 108px;
  left: 0px;
  width: 716px;
  height: 1px;
  background: #737373;
}
.strategy-content__first-row-text {
  color: #9B9B9B;
  text-align: right;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.strategy-content__first-row-text span {
  color: #FFF;
}
.strategy-content__second-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.strategy-content__second-row-title {
  order: 2;
  color: #FFF;
  font-family: "Orbitron", sans-serif;
  font-size: 70px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  position: relative;
}
.strategy-content__second-row-title span {
  color: #EBFC56;
}
.strategy-content__second-row-title::before {
  content: "";
  position: absolute;
  top: 120px;
  right: 0px;
  width: 784px;
  height: 1px;
  background: #737373;
}
.strategy-content__second-row-text {
  order: 1;
  color: #9B9B9B;
  font-family: "Raleway";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.strategy-content__second-row-text span {
  color: #FFF;
}
.strategy-content__third-row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 54px;
}
.strategy-content__third-row-circle {
  position: relative;
}
.strategy-content__third-row-circle-text {
  position: absolute;
  top: 75px;
  left: 30px;
  color: #000;
  text-align: center;
  font-family: "Raleway";
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.strategy__arrow-bottom {
  display: flex;
  justify-content: center;
}

@media (max-width: 1240px) {
  .strategy-content__first-row-title {
    font-size: 50px;
  }
  .strategy-content__first-row-title::before {
    top: 108px;
    left: 0px;
    width: 516px;
  }
  .strategy-content__first-row-text {
    font-size: 20px;
  }
  .strategy-content__second-row-title {
    font-size: 50px;
  }
  .strategy-content__second-row-title::before {
    top: 120px;
    right: 0px;
    width: 584px;
  }
  .strategy-content__second-row-text {
    font-size: 20px;
  }
}
@media (max-width: 1000px) {
  .strategy-content__first-row-title {
    font-size: 40px;
  }
  .strategy-content__first-row-title::before {
    top: 108px;
    left: 0px;
    width: 416px;
  }
  .strategy-content__first-row-text {
    font-size: 18px;
  }
  .strategy-content__second-row-title {
    font-size: 40px;
  }
  .strategy-content__second-row-title::before {
    top: 120px;
    right: 0px;
    width: 484px;
  }
  .strategy-content__second-row-text {
    font-size: 18px;
  }
  .strategy-content__third-row-arrow {
    width: 281px;
  }
  .strategy-content__third-row-circle {
    position: relative;
  }
  .strategy-content__third-row-circle-img {
    width: 169px;
    height: 144px;
  }
  .strategy-content__third-row-circle-text {
    position: absolute;
    top: 65px;
    left: 25px;
    color: #000;
    text-align: center;
    font-family: "Raleway";
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
@media (max-width: 860px) {
  .strategy-content__first-row {
    flex-direction: column;
  }
  .strategy-content__first-row-title {
    font-size: 40px;
    padding-right: 30px;
  }
  .strategy-content__first-row-title::before {
    top: 108px;
    left: 3px;
    width: 446px;
  }
  .strategy-content__first-row-text {
    font-size: 18px;
    text-align: left;
  }
  .strategy-content__second-row {
    flex-direction: column;
  }
  .strategy-content__second-row-title {
    order: 1;
    font-size: 40px;
  }
  .strategy-content__second-row-title::before {
    top: 120px;
    right: 0px;
    width: 424px;
  }
  .strategy-content__second-row-text {
    order: 2;
    font-size: 18px;
    text-align: right;
    padding-left: 80px;
  }
  .strategy-content__third-row {
    gap: 20px;
  }
  .strategy-content__third-row-arrow {
    width: 281px;
  }
  .strategy-content__third-row-circle-img {
    width: 169px;
    height: 144px;
  }
  .strategy-content__third-row-circle-text {
    top: 65px;
    left: 25px;
    font-size: 16px;
  }
}
@media (max-width: 560px) {
  .strategy-content {
    gap: 50px;
  }
  .strategy-content__first-row {
    flex-direction: column;
  }
  .strategy-content__first-row-title {
    font-size: 30px;
    padding-right: 30px;
  }
  .strategy-content__first-row-title::before {
    top: 80px;
    left: 0px;
    width: 349px;
  }
  .strategy-content__first-row-text {
    font-size: 14px;
    text-align: left;
  }
  .strategy-content__second-row {
    padding-left: 40px;
    flex-direction: column;
  }
  .strategy-content__second-row-title {
    order: 1;
    font-size: 30px;
  }
  .strategy-content__second-row-title::before {
    top: 80px;
    right: 0px;
    width: 349px;
  }
  .strategy-content__second-row-text {
    order: 2;
    font-size: 14px;
    text-align: right;
    padding-left: 55px;
  }
  .strategy-content__third-row {
    gap: 20px;
  }
  .strategy-content__third-row-arrow {
    width: 167px;
  }
  .strategy-content__third-row-circle-img {
    width: 131.761px;
    height: 116px;
  }
  .strategy-content__third-row-circle-text {
    top: 50px;
    left: 20px;
    font-size: 12.609px;
  }
}
@media (max-width: 520px) {
  .strategy-content {
    padding-top: 114px;
  }
  .strategy__arrow-bottom {
    display: none;
  }
}
@media (max-width: 420px) {
  .strategy-content {
    gap: 30px;
  }
  .strategy-content__first-row {
    padding-left: 10px;
  }
  .strategy-content__first-row-title::before {
    top: 86px;
    left: 0px;
    width: 349px;
  }
  .strategy-content__second-row {
    padding-top: 24px;
    padding-left: 40px;
  }
  .strategy-content__second-row-title::before {
    top: 82px;
    right: 0px;
    width: 349px;
  }
  .strategy-content__second-row-text {
    padding-top: 4px;
  }
  .strategy-content__third-row {
    gap: 22px;
    padding-top: 4px;
    padding-left: 20px;
  }
  .strategy-content__third-row-arrow {
    padding-top: 8px;
    width: 167px;
  }
}
@media (max-width: 410px) {
  .strategy-content {
    gap: 30px;
  }
  .strategy-content__first-row {
    padding-left: 0;
  }
  .strategy-content__first-row-title {
    padding-right: 0;
    font-size: 25px;
  }
  .strategy-content__first-row-title::before {
    top: 86px;
    left: -10px;
    width: 279px;
  }
  .strategy-content__first-row-text {
    font-size: 11px;
  }
  .strategy-content__second-row {
    padding-top: 24px;
    padding-left: 30px;
  }
  .strategy-content__second-row-title {
    font-size: 25px;
  }
  .strategy-content__second-row-title::before {
    top: 82px;
    right: 0px;
    width: 279px;
  }
  .strategy-content__second-row-text {
    padding-top: 4px;
    font-size: 11px;
    padding-left: 40px;
  }
  .strategy-content__third-row {
    gap: 12px;
    padding-top: 4px;
    padding-left: 20px;
  }
  .strategy-content__third-row-arrow {
    padding-top: 8px;
    width: 137px;
  }
}/*# sourceMappingURL=style.css.map */