// файл обнуляющих стилей
@import "./nullstyle.scss";

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

// body {}

// .lock {
//     overflow: hidden;
// }

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.background-header {
    background-color: rgb(12,11,14);
    position: fixed;
    z-index: 5;
    width: 100%;
}
.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;  
    margin-top: 18px;
    margin-bottom: 18px;
    gap:20px;
    &-logo {
        cursor: pointer;
    }
    &__link {
        &-item{
            color: #FFF;
            font-family: 'Raleway';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }
    &__link:hover{
        .menu__link-item{
            color: #EAFC52;
            transition: all 0.3s ease;
        } 
    }
    &__link-personal {
        &-account {
            width: 271px;
            height: 49px;
            border-radius: 50px;
            border: 1px solid #EAFC52;
            text-align: center;
            padding-top: 10px;
            transition: all 0.3s ease;
            &-item{
                color: #EAFC52;
                font-family: 'Raleway';
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }
    &__link-personal:hover{
        .menu__link-personal-account{
            background-color: #EAFC52;
            transition: all 0.3s ease;
            .menu__link-personal-account-item{
                color: #000;
            }
        }
    }
}

@media (max-width: 960px) {
    .menu{
        &__link-personal{
            &-account{
                width: 220px;
            }
        }
    }
}

/////////////////////////////////
/////////////////////////////////
/////////////////////////////////

.background-main {
    padding-top: 128px;
    background-color: rgb(12,11,14);
    width: 100%;
    height: auto;
    // height: 792px;
}
.main-content {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;
    &__info{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 29px;
        &-title{
            color: #FFF;
            font-family: 'Orbitron', sans-serif;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 75px;
            text-transform: uppercase;
            text-align: center;
            &-color{
                color: #EAFC52;
                font-size: 80px;
            }   
        }
        
        &-text{
            color: #FFF;
            text-align: center;
            font-family: 'Raleway';
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 35px;
        }
        &-textblock {
            width: 352px;
            height: 55px;
            border-radius: 20px;
            background: #1B1B1B;
            box-shadow: 0px 4px 15px 0px #000;
            padding-top: 12px;
            &-text{
                color: #EAFC52;
                text-align: center;
                font-family: 'Raleway';
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 29px;
            }
        }
    }
   
    &__buttonblock {
        width: 367px;
        height: 97px;
        border-radius: 30px;
        background: #EAFC52;
        transition: all 0.3s ease;
        &-text{
            color: #000;
            text-align: center;
            font-family: 'Raleway';
            font-size: 25px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
        }
    }
    &__buttonblock:hover{
        transition: all 0.3s ease;
        transform: scale(1.1);
    }
}

.arrow-bottom {
    cursor: pointer;
    margin-bottom: 70px;
}

@media (max-width: 1020px) {
    .main-content{
        &__info{
            &-title{
                font-size: 40px;
                &-color{
                    font-size: 60px;
                }
            }
        }
    }
}