// файл обнуляющих стилей
@import "./nullstyle.scss";

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
    // overflow-x:hidden;
}

body {
    overflow-x:hidden;
}

.lock {
    overflow: hidden;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 30px;
}

.background-header {
    background-color: rgba(12, 11, 14, 0.65);
    position: fixed;
    z-index: 5;
    width: 100%;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 18px;
    margin-bottom: 18px;
    gap: 20px;

    &-logo {
        cursor: pointer;
    }

    &__link {
        &-item {
            color: #FFF;
            font-family: 'Raleway';
            font-size: 18px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &__link:hover {
        .menu__link-item {
            color: #EAFC52;
            transition: all 0.3s ease;
        }
    }

    &__link-personal {
        &-account {
            width: 271px;
            height: 49px;
            border-radius: 50px;
            border: 1px solid #EAFC52;
            text-align: center;
            padding-top: 10px;
            transition: all 0.3s ease;

            &-item {
                color: #EAFC52;
                font-family: 'Raleway';
                font-size: 22px;
                font-style: normal;
                font-weight: 600;
                line-height: normal;
            }
        }
    }

    &__link-personal:hover {
        .menu__link-personal-account {
            background-color: #EAFC52;
            transition: all 0.3s ease;

            .menu__link-personal-account-item {
                color: #000;
            }
        }
    }
}

.burger-wrapper {
    display: none;
}

@media (max-width: 960px) {
    .menu {
        &__link-personal {
            &-account {
                width: 220px;
            }
        }
    }
}

@media (max-width: 900px) {
    .background-header {
        display: none;
    }

    .burger-wrapper {
        position: fixed;
        display: flex;
        justify-content: space-between;
        z-index: 10;
        width: 100%;
        height: auto;
        align-items: center;
        padding: 30px 38px 0 38px;
        background-color: rgba(12, 11, 14, 0.65);

        a {
            position: relative;
        }

        a:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 2px;
            background-color: #D1A954;
            left: 0;
            bottom: -5px;
            transform: scaleX(0);
            transition: transform 0.25s;
            transform-origin: left;
        }

        a:hover:before {
            transform: scaleX(1);
            transition: transform 0.25s;
        }

        .burger-logo {
            padding-top: 10px;
            order: 1;
        }

        .burger {
            position: relative;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin-bottom: 20px;
            order: 2;

            &-span-top {
                height: 3px;
                width: 26px;
                background: #EAFC52;
            }

            &-span-middle {
                height: 3px;
                width: 26px;
                background: #EAFC52;
            }

            &-span-bottom {
                height: 3px;
                width: 26px;
                background: #EAFC52;
            }
        }

        .burger-menu {
            position: fixed;
            top: 0;
            right: -100%;
            width: 39%;
            height: 100%;
            //transform: translate(-100%, 0px);
            background-color: #1B1B1B;
            padding: 10px;
            transition: right 0.3s ease 0s;
            overflow: auto;
            padding: 30px 15px 0 0;
            display: flex;
            flex-direction: column;
            z-index: 12;



            &__close {
                position: relative;

                &-img {
                    position: absolute;
                    top: 0;
                    right: 30px;
                }
            }

            &__list {
                padding: 110px 0 0 39px;

                &-item {
                    a {
                        text-decoration: none;
                    }

                    color: #EAFC52;
                    font-family: 'Raleway';
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                    letter-spacing: 1.2px;
                    text-transform: uppercase;

                }
            }
        }

        .active {
            right: 0;
        }

        .remove {
            right: -100%;
        }

        .burger-menu__list>li {
            margin: 0 0 35px 0;

        }

        .burger-logo {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 3px;
            margin-bottom: 40px;

            a {
                text-decoration: none;
            }
        }
    }
}

@media (max-width: 800px) {
    .burger-wrapper {
        .burger-menu {
            width: 40%;
        }
    }

}

@media (max-width: 730px) {
    .burger-wrapper {
        height: 78px;
        padding: 29px 52px 0 52px;
    }
}

@media (max-width: 600px) {
    .burger-wrapper {
        .burger-menu {
            width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .burger-wrapper {
        .burger-menu {
            width: 60%;
        }
    }
}

@media (max-width: 520px) {
    .burger-wrapper {
        .burger-menu {
            text-align: center;
            width: 100%;
        }
    }
}

/////////////////////////////////
/////////////////////////////////
/////////////////////////////////

.background-black {
    padding-top: 128px;
    background-color: rgb(12, 11, 14);
    width: 100%;
    height: auto;
    // height: 792px;
}

.main-content {
    padding-top: 64px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 42px;

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 29px;

        &-title {
            color: #FFF;
            font-family: 'Orbitron', sans-serif;
            font-size: 60px;
            font-style: normal;
            font-weight: 700;
            line-height: 75px;
            text-transform: uppercase;
            text-align: center;

            &-color {
                color: #EAFC52;
                font-size: 80px;
            }

            &-mobilebr {
                display: none;
            }
        }

        &-text {
            color: #FFF;
            text-align: center;
            font-family: 'Raleway';
            font-size: 30px;
            font-style: normal;
            font-weight: 600;
            line-height: 35px;
        }

        &-textblock {
            width: 352px;
            height: 55px;
            border-radius: 20px;
            background: #1B1B1B;
            box-shadow: 0px 4px 15px 0px #000;
            padding-top: 12px;

            &-text {
                color: #EAFC52;
                text-align: center;
                font-family: 'Raleway';
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 29px;
            }
        }
    }
}

///////////////////////

.register-button {
    width: 367px;
    height: 97px;
    border-radius: 30px;
    background: #EAFC52;
    transition: all 0.3s ease;

    &-text {
        color: #000;
        text-align: center;
        font-family: 'Raleway';
        font-size: 25px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
}

.register-button:hover {
    transition: all 0.3s ease;
    transform: scale(1.1);
}

.arrow-bottom {
    cursor: pointer;
    margin-bottom: 70px;
}

////////////////////////////

@media (max-width: 1020px) {
    .main-content {
        &__info {
            &-title {
                font-size: 40px;

                &-color {
                    font-size: 60px;
                }
            }
        }
    }
}

@media (max-width: 1020px) {
    .main-content {
        padding-top: 24px;
    }
}

@media (max-width: 730px) {
    .main-content {
        padding-top: 14px;

        &__info {
            &-title {
                font-size: 30px;
                line-height: 55px;

                &-color {
                    font-size: 40px;
                }
            }

            &-text {
                font-size: 20px;
            }

            &-textblock {
                width: 282px;
                height: 45px;
                border-radius: 20px;
                padding-top: 8px;

                &-text {
                    font-size: 15px;
                }
            }
        }
    }

    .register-button {
        width: 247px;
        height: 67px;
        border-radius: 30px;

        &-text {
            font-size: 16.553px;
        }
    }

}


@media (max-width: 590px) {
    .main-content {
        &__info {
            gap: 10px;

            &-title {
                font-size: 30px;
                line-height: 45px;

                &-color {
                    font-size: 40px;
                }

                &-desctopbr {
                    display: none;
                }

                &-mobilebr {
                    display: block;
                }
            }

            &-text {
                font-size: 15px;
            }

            &-textblock {
                width: 282px;
                height: 45px;
                border-radius: 20px;
                padding-top: 8px;

                &-text {
                    font-size: 15px;
                }
            }
        }
    }

    .register-button {
        width: 247px;
        height: 67px;
        border-radius: 30px;

        &-text {
            font-size: 16.553px;
        }
    }

}

@media (max-width: 420px) {
    .background-black {
        padding-top: 100px;
    }

    .main-content {
        padding-top: 0px;
        gap: 36px;

        &__info {
            &-title {
                line-height: 38px;
            }

            &-text {
                line-height: 18px;
            }

            &-textblock {
                margin-top: 17px;
                width: 186px;
                height: 39px;
                border-radius: 20px;
                padding-top: 4px;

                &-text {
                    font-size: 13px;
                }
            }
        }
    }

    .register-button {
        width: 243px;
        height: 64.226px;
        border-radius: 20px;
        margin-bottom: 50px;

        &-text {
            font-size: 16.553px;
        }
    }

    .arrow-bottom {
        display: none;
    }

}

///////////////////////////
///////////////////////////
///////////////////////////

.scout-content {
    padding-top: 62px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;

    &__info {
        display: flex;
        flex-direction: column;
        gap: 68px;

        &-title {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 37px;

            &-first {
                color: #FFF;
                font-family: 'Orbitron', sans-serif;
                font-size: 75px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
            }

            &-second {
                width: 634px;
                height: 55px;
                border-radius: 20px;
                background: linear-gradient(180deg, #FFF 0%, rgba(255, 255, 255, 0.81) 100%);
                padding-top: 10px;

                &-text {
                    color: #000;
                    text-align: center;
                    font-family: 'Raleway';
                    font-size: 30px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: normal;
                }
            }

        }

        &-column {
            display: flex;
            gap: 230px;

            &-first {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                &-text {
                    color: #FFF;
                    font-family: 'Orbitron', sans-serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                }

                &-img {
                    width: 61px;
                    height: 24px;
                }

                &-block {
                    width: 362px;
                    height: 72px;
                    border-radius: 20px;
                    background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0.00) 100%);
                    box-shadow: 0px 4px 15px 0px #000;
                    padding-top: 10px;

                    &-text {
                        color: #FFF;
                        text-align: center;
                        font-family: 'Raleway';
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

            }

            &-second {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 30px;

                &-text {
                    color: #FFF;
                    font-family: 'Orbitron', sans-serif;
                    font-size: 40px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    text-transform: uppercase;
                }

                &-img {
                    width: 61px;
                    height: 24px;
                }

                &-block {
                    width: 561px;
                    height: 66px;
                    border-radius: 20px;
                    background: linear-gradient(180deg, #1B1B1B 0%, rgba(27, 27, 27, 0.00) 100%);
                    box-shadow: 0px 4px 15px 0px #000;
                    padding-top: 10px;

                    &-text {
                        color: #FFF;
                        text-align: center;
                        font-family: 'Raleway';
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: normal;
                    }
                }

            }
        }

    }
}


@media (max-width: 1200px) {
    .scout-content {
        &__info {
            &-column {
                gap: 100px;
            }
        }

    }
}

@media (max-width: 1060px) {
    .scout-content {
        &__info {
            &-title {
                &-first {
                    font-size: 50px;
                }

                &-second {
                    width: 534px;
                    height: 55px;
                    padding-top: 14px;

                    &-text {
                        font-size: 20px;
                    }
                }
            }

            &-column {
                gap: 60px;

                &-first {
                    &-text {}

                    &-img {}

                    &-block {
                        width: 302px;
                        height: 72px;
                        padding-top: 16px;

                        &-text {
                            font-size: 30px;
                        }
                    }
                }

                &-second {
                    &-text {}

                    &-img {}

                    &-block {
                        width: 461px;
                        height: 66px;
                        padding-top: 16px;

                        &-text {
                            font-size: 30px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 880px) {
    .scout-content {
        &__info {
            &-title {
                &-first {
                    font-size: 45px;
                }

                &-second {
                    width: 340px;
                    height: 55px;
                    padding-top: 18px;

                    &-text {
                        font-size: 16px;
                    }
                }
            }

            &-column {
                gap: 30px;

                &-first {
                    &-text {}

                    &-img {}

                    &-block {
                        width: 252px;
                        height: 66px;
                        padding-top: 18px;

                        &-text {
                            font-size: 25px;
                        }
                    }
                }

                &-second {
                    &-text {}

                    &-img {}

                    &-block {
                        width: 361px;
                        height: 66px;
                        padding-top: 18px;

                        &-text {
                            font-size: 25px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 730px) {
    .scout-content {
        &__info {
            gap: 46px;

            &-title {
                flex-direction: column;
                gap: 5px;

                &-first {
                    font-size: 45px;
                }

                &-second {
                    width: 345px;
                    height: 55px;
                    padding-top: 18px;

                    &-text {
                        font-size: 16px;
                    }
                }
            }

            &-column {
                flex-direction: column;
                gap: 50px;

                &-first {
                    &-text {
                        font-size: 30px;
                    }

                    &-img {}

                    &-block {
                        width: 228px;
                        height: 38px;
                        padding-top: 4px;

                        &-text {
                            font-size: 24px;
                        }
                    }
                }

                &-second {
                    &-text {
                        font-size: 30px;
                    }

                    &-img {}

                    &-block {
                        width: 337px;
                        height: 38px;
                        padding-top: 4px;

                        &-text {
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .scout-content {
        padding-top: 20px;

        &__info {
            gap: 46px;

            &-title {
                flex-direction: column;
                gap: 5px;

                &-first {
                    font-size: 35px;
                }

                &-second {
                    width: 305px;
                    height: 30px;
                    padding-top: 6px;

                    &-text {
                        font-size: 14px;
                    }
                }
            }

            &-column {
                flex-direction: column;
                gap: 50px;

                &-first {
                    gap: 7px;

                    &-text {
                        font-size: 20px;
                    }

                    &-img {
                        width: 22px;
                        height: 8px;
                    }

                    &-block {
                        width: 168px;
                        height: 38px;
                        padding-top: 8px;

                        &-text {
                            font-size: 18px;
                        }
                    }
                }

                &-second {
                    gap: 7px;

                    &-text {
                        font-size: 20px;
                    }

                    &-img {
                        width: 22px;
                        height: 8px;
                    }

                    &-block {
                        width: 257px;
                        height: 38px;
                        padding-top: 8px;

                        &-text {
                            font-size: 18px;
                        }
                    }
                }

                margin-bottom: 80px;
            }
        }

        .register-button {
            display: none;
        }

        .arrow-bottom {
            display: none;
        }
    }
}

@media (max-width: 420px) {
    .scout-content {
        &__info {
            height: 390px;

            &-title {
                &-second {
                    width: 305px;
                    height: 30px;
                    padding-top: 8px;

                    &-text {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

/////////////////////////////////
/////////////////////////////////
/////////////////////////////////

.shinobi-content {
    display: flex;
    gap: 48px;
    padding-top: 37px;

    &__left {
        padding-left: 74px;
        position: relative;
        z-index: 1;

        &-shinobi-img {
            z-index: 2;
            width: 914px;
            height: 890px;

        }

        &-circle-img {
            position: absolute;
            top: -36px;
            right: -46px;
            z-index: -1;
        }

        .arrow-bottom {
            position: absolute;
            bottom: -60px;
            right: 10px;
            z-index: 3;
        }
    }

    &__right {
        padding-top: 190px;
        display: flex;
        flex-direction: column;
        gap: 33px;

        &-title {
            padding-left: 44px;
            color: #FFF;
            font-family: 'Orbitron', sans-serif;
            font-size: 90px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-transform: uppercase;
        }

        &-info {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 33px;

            &-textblock {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 36px;

                &-text {
                    .shinobi-content_color {
                        color: #FFF;
                    }

                    color: #C3C3C3;
                    text-align: right;
                    font-family: 'Raleway';
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                    width: 449px;
                }

                &-img {}
            }
        }


    }
}

@media (max-width: 1600px) {
    .shinobi-content {
        &__left {
            padding-left: 0px;
        }
    }
}

@media (max-width: 1530px) {
    .shinobi-content {
        &__left {
            padding-left: 100px;

            &-shinobi-img {
                width: 654px;
                height: 690px;
            }

            &-circle-img {
                width: 400px;
                height: 400px;
                top: -100px;
                right: -100px;
            }
        }
    }
}

@media (max-width: 1370px) {
    .shinobi-content {
        &__left {
            padding-left: 0px;

            &-shinobi-img {
                width: 654px;
                height: 690px;
            }

            &-circle-img {
                width: 350px;
                height: 350px;
                top: -60px;
                right: -60px;
            }
        }
    }
}

@media (max-width: 1260px) {
    .shinobi-content {
        gap: 0;

        &__left {
            padding-left: 100px;

            &-shinobi-img {
                width: 554px;
                height: 590px;
            }

            &-circle-img {
                width: 300px;
                height: 300px;
                top: -60px;
                right: -60px;
            }

            .arrow-bottom {
                right: 6px;
            }
        }

        &__right {
            &-title {
                font-size: 70px;
            }

            &-info {
                &-textblock {
                    &-text {
                        .shinobi-content_color {}

                        font-size: 16px;
                        width: 380px;
                    }

                    &-img {
                        width: 38px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1130px) {
    .shinobi-content {
        gap: 0px;

        &__left {
            padding-left: 140px;

            &-shinobi-img {
                width: 454px;
                height: 410px;
            }

            &-circle-img {
                width: 300px;
                height: 300px;
                top: -100px;
                right: -100px;
            }

            .arrow-bottom {
                right: 6px;
                bottom: -70px;
            }
        }

        &__right {
            padding-top: 0;

            &-info {
                &-textblock {
                    gap: 15px;
                }
            }
        }
    }
}

@media (max-width: 1040px) {
    .shinobi-content {
        gap: 0px;

        &__left {
            padding-left: 0px;
        }
    }
}

@media (max-width: 900px) {
    .shinobi-content {
        flex-direction: column;
        gap: 0px;

        &__left {
            padding-left: 200px;

            &-shinobi-img {
                width: 454px;
                height: 410px;
            }

            &-circle-img {
                width: 250px;
                height: 250px;
                top: -80px;
                right: 200px;
            }

            .arrow-bottom {
                display: none;
            }
        }

        &__right {
            padding-top: 45px;
            padding-left: 20px;
            margin-bottom: 166px;

            &-title {
                padding-left: 240px;
            }

            &-info {
                &-textblock {
                    gap: 12px;

                    &-text {
                        text-align: left;
                        order: 2;
                    }

                    &-img {
                        order: 1;
                        transform: rotate(180deg);
                    }
                }
            }
        }
    }
}

@media (max-width: 870px) {
    .shinobi-content {
        &__left {
            &-circle-img {
                width: 200px;
                height: 200px;
                top: -40px;
                right: 180px;
            }
        }
    }
}

@media (max-width: 770px) {
    .shinobi-content {
        &__left {
            padding-left: 100px;

            &-circle-img {
                top: -40px;
                right: 120px;
            }
        }

        &__right {
            &-title {
                padding-left: 100px;
            }
        }
    }
}

@media (max-width: 610px) {
    .shinobi-content {
        &__left {
            padding-left: 0;

            &-circle-img {
                top: -40px;
                right: 60px;
            }
        }

    }
}

@media (max-width: 500px) {
    .shinobi-content {
        &__left {
            padding-left: 20px;

            &-shinobi-img {
                width: 339px;
                height: 343px;
            }

            &-circle-img {
                width: 200px;
                height: 200px;
                top: -40px;
                right: 40px;
            }

            .arrow-bottom {
                display: none;
            }
        }

        &__right {
            padding-top: 45px;
            padding-left: 0px;

            &-title {
                padding-left: 100px;
                font-size: 35px;
            }

            &-info {
                &-textblock {
                    gap: 12px;

                    &-text {
                        text-align: left;
                        order: 2;
                        font-size: 14px;
                        width: 340px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .shinobi-content {
        padding-top: 3px;

        &__left {
            padding-left: 29px;

            &-shinobi-img {
                width: 299px;
                height: 343px;
            }

            &-circle-img {
                width: 203px;
                height: 203px;
                top: -26px;
                right: 26px;
            }

            .arrow-bottom {
                display: none;
            }
        }

        &__right {
            padding-top: 45px;
            padding-left: 28px;
            gap: 20px;

            &-title {
                padding-left: 32px;
                font-size: 35px;
            }

            &-info {
                gap: 25px;

                &-textblock {
                    gap: 12px;

                    &-text {
                        text-align: left;
                        order: 2;
                        font-size: 14px;
                        width: 340px;
                    }
                }
            }
        }
    }
}

@media (max-width: 419px) {
    .shinobi-content {
        padding-top: 3px;

        &__left {
            padding-left: 29px;

            &-shinobi-img {
                width: 259px;
                height: 293px;
            }

            &-circle-img {
                width: 203px;
                height: 203px;
                top: -50px;
                right: 0px;
            }

            .arrow-bottom {
                display: none;
            }
        }

        &__right {
            padding-top: 45px;
            padding-left: 0px;
            gap: 20px;

            &-title {
                padding-left: 32px;
                font-size: 35px;
            }

            &-info {
                gap: 25px;

                &-textblock {
                    gap: 6px;

                    &-text {
                        text-align: left;
                        order: 2;
                        font-size: 12px;
                        width: 270px;
                    }

                    &-img {
                        width: 30px;
                    }
                }
            }
        }
    }
}

@media (max-width: 340px) {
    .shinobi-content {
        padding-top: 3px;

        &__left {
            padding-left: 29px;

            &-shinobi-img {
                width: 259px;
                height: 293px;
            }

            &-circle-img {
                width: 160px;
                height: 160px;
                top: -40px;
                right: 0px;
            }
        }
    }
}

////////////////////////////
////////////////////////////
////////////////////////////

.background-clip-path-wrapper {
    position: relative;
    height: auto;
}

.shinobi-outer div {
    display: inline-block;
    transform: rotate(-3.867deg) translateY(-400px);
    margin-bottom: 200px;
    margin-top: 300px;
    position: relative;
    z-index: 100;
    
}

.shinobi-loop {
    white-space: nowrap;
    animation: loop-anim 15s linear infinite;
}

.shinobi-loop__content {
    font-family: 'Orbitron', sans-serif;
    font-size: 100px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    color: #88888885;
    
}

@keyframes loop-anim {
    0% {
        margin-left: 0;
    }

    100% {
        margin-left: -50%
    }
}

.background-grey-clip-path {
    transform: translateY(-1700px);
    background-color: #171717;
    width: 100%;
    height: auto;
    clip-path: polygon(0 17%, 100% 2%, 100% 100%, 0% 100%);
    margin-bottom: 0px;
    z-index: -3;
}

.background-black-clip-path {
    background-color: rgb(12, 11, 14);
    width: 100%;
    // height: auto;
    // clip-path: polygon(0 0, 100% 0, 100% 57%, 0 67%);
    clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
    z-index: -3;
    height: 826px;
    margin-bottom: -60px;
}

//////////////////////////////////
//////////////////////////////////
//////////////////////////////////

.how-content {
    padding-top: 128px;
    height: auto;
    width: 100%;

    &__title {
        
        // padding-left: 30px;
        text-align: center;
        color: #FFF;
        font-family: 'Orbitron', sans-serif;
        font-size: 75px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;

        &-block {
            width: 464px;
            max-height: 98px;
            background: #EAFC52;
            color: #000;
        }
    }

    &__arrow-bottom {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 95px 0 0 16px;
        height: 37px;

        .arrow-bottom {
            align-items: center;
        }
    }
    // &__tabs::before{
    //     content: '';
    //     position: absolute;
    //     width: 100%;
    //     height: 1px;
    //     background-color: rgba(255, 255, 255, 0.63);
    // }
    &__tabs {
        padding-top: 133px; 
        &-nav::before{
            content: '';
            position: absolute;
            top: 350px;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: rgba(255, 255, 255, 0.63);
        }
        &-nav {
            padding: 12px 0 0 88px;
            display: flex;
            gap: 200px;
            align-items: center;

            &-btn {
                color: rgba(255, 255, 255, 0.31);
                font-family: 'Orbitron', sans-serif;
                font-size: 75px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                border: none;
                background: none;
                position: relative;
                transition: none 0.5s ease;
            }

            .active:before {
                content: '';
                position: absolute;
                top: -30px;
                left: 10px;
                width: 32px;
                height: 32px;
                background: #FFF;
                transition: all 0.5s ease;
            }

            .active {
                color: #EBFC56;
                transition: all 0.5s ease;
            }
        }

        &-content {
            padding: 0px 0 0 0px;
            display: flex;
            gap: 38px;

            &-item {
                opacity: 0;
                pointer-events: none;
                text-align: center;

                p {
                    padding-top: 12px;
                    text-align: center;
                    color: #939393;
                    font-family: 'Raleway';
                    font-size: 22px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                h3 {
                    color: #939393;
                    font-family: 'Raleway';
                    font-size: 25px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: normal;
                }

                span {
                    color: #B4B4B4;
                }
            }

            .active {
                display: block;
                opacity: 1;
                pointer-events: auto;
            }

        }

    }

  
}

.shinobi-outer {
    overflow: hidden;
    // transform: rotate(-3.867deg) translateY(-100px);
    // position: relative;
    // position: absolute;
    // top: 700px;
    // left: 0;
    // z-index: 100;
    width: 100%;
    pointer-events: none;
    
}

@media (max-width: 1250px) {

    .how-content {  
        &__tabs {
            
            &-nav {
                gap: 150px;

                &-btn {
                    font-size: 60px;
                }

                .active::before {
                    width: 25px;
                    height: 25px;
                }

                .active {}
            }

            &-content {
                gap: 20px;
                padding-left: 30px;
                &-item {

                    p {
                        font-size: 18px;
                    }

                    h3 {
                        font-size: 18px;
                    }

                    span {
                        font-size: 18px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1010px) {
    .how-content {
        &__title{
            font-size: 50px;
        }
        &__tabs {
            &-nav::before{
                top: 320px;
            }
            &-nav {
                gap: 100px;
                &-btn {
                    font-size: 60px;
                }

                .active::before {}

                .active {}
            }

            &-content {
                gap: 0px;
                &-item {

                    p {
                        font-size: 15px;
                    }

                    h3 {
                        font-size: 15px;
                    }

                    span {
                        font-size: 15px;
                    }
                }
            }

        }
    }
}

@media (max-width: 900px) {

        // .container{
        //     width: 800px;   
        // }
    .how-content {
        padding-top: 32px;
        &__title{
            font-size: 50px;
        }
        // &__tabs::before{
        //     width: 549px;
        //     height: 1px;
        //     top: 540px;
        //     left: 285px;
        //     transform: rotate(-90deg);
        // }
        &__tabs {
            justify-content: center;
            align-items: center;
            padding: 250px 0 0 450px;
            transform: translateY(-200px) translateX(-300px);
            &-nav::before{
                content: '';
                position: absolute;
                width: 549px;
                height: 1px;
                top: 540px;
                left: 285px;
                transform: rotate(-90deg);
            }
            &-nav {
                flex-direction: column;
                gap: 43px;
                
                &-btn {
                    font-size: 60px;
                    width: 50px;
                }

                .active:before {
                    content: '';
                    position: absolute;
                    top: 20px;
                    left: -150px;
                    width: 32px;
                    height: 32px;
                    background: #FFF;
                    transition: all 0.5s ease;
                }
    
                .active {
                    color: #EBFC56;
                    transition: all 0.5s ease;
                }
            }

            &-content {
                flex-direction: column;
                gap: 60px;
                padding-left: 0px;
                margin-left: 50px;
                transform: translateY(-530px) translateX(250px);
                max-width: 200px;;
                &-item {

                    p {
                        font-size: 15px;
                    }

                    h3 {
                        font-size: 15px;
                    }

                    span {
                        font-size: 15px;
                    }
                }
            }

        }
    }
}

@media (max-width: 865px) {
    // .how-content__line{
    //     display: none;
    // }
}

//////////////////////////
//////////////////////////
//////////////////////////



.money-content {
    padding-top: 322px;
    display: flex;
    flex-direction: column;
    gap:50px;
    justify-content: center;
    align-items: center;
    &__info {
        display: flex;
        gap:314px;
        // justify-content: space-between;
        &-first-text {
            padding-left: 20px;
            &-underline {
                color: #FAFF00;
                font-family: 'Raleway';
                font-size: 30px;
                font-style: italic;
                font-weight: 500;
                line-height: normal;
                position: relative;
                max-width: 150px;
                transform:  translateX(-100px);
                padding-top: 0px;
            }

            &-underline:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #D1A954;
                left: -10px;
                bottom: -5px;
                transform: scaleX(0);
                transition: transform 0.25s;
                transform-origin: left;
            }
            
            &-underline:hover:before {
                transform: scaleX(1);
                transition: transform 0.25s;
            }

            &-big {
                color: #FFF;
                font-family: 'Orbitron', sans-serif;
                font-size: 75px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                padding-top: 26px;
            }
        }
        &-second-text {
            padding-left: 20px;
            &-underline {
                color: #FAFF00;
                font-family: 'Raleway';
                font-size: 30px;
                font-style: italic;
                font-weight: 500;
                line-height: normal;
                position: relative;
                max-width: 77px;
                transform:  translateX(-52px);
            }
            &-underline:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 2px;
                background-color: #D1A954;
                left: -10px;
                bottom: -5px;
                transform: scaleX(0);
                transition: transform 0.25s;
                transform-origin: left;
            }
            
            &-underline:hover:before {
                transform: scaleX(1);
                transition: transform 0.25s;
            }
            &-big {
                color: #FFF;
                font-family: 'Orbitron', sans-serif;
                font-size: 75px;
                font-style: normal;
                font-weight: 700;
                line-height: normal;
                text-transform: uppercase;
                padding-top: 26px;
            }
        }
    }

    .register-button {
    }
    .register-button-text {
    }
    .arrow-bottom {
    }
}

@media (max-width: 1220px) {
    .money-content{
        &__info{
            gap:80px;
            &-first-text {
                &-underline {
                    font-size: 26px;
                    transform:  translateX(-60px);
                }

            }
            &-second-text {
                &-underline {
                    font-size: 26px;
                    transform:  translateX(-60px);
                }
                &-big {
                    font-size: 60px;
                    
                }
            }
        }
    }
}

@media (max-width: 860px) {

    .background-grey-clip-path{
        clip-path: polygon(0 11%, 100% 0, 100% 100%, 0% 100%);
    }

    .money-content{
        &__info{
             gap:80px;
             flex-direction: column;
             &-first-text {
                &-underline {
                    font-size: 20px;
                    width: 100px;
                    transform:  translateX(-50px);
                }
                &-big {
                    font-size: 40px;
                    text-align: center;
                }
            }
            &-second-text {
                &-underline {
                    font-size: 20px;
                    width: 57px;
                    transform:  translateX(-50px);
                }
                &-big {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }
    }

}

@media (max-width: 420px) {
    .background-black-clip-path{
        clip-path: polygon(0 0, 100% 0, 100% 96%, 0% 100%);
    }
    .background-grey-clip-path{
        clip-path: polygon(0 12%, 100% 8%, 100% 100%, 0% 100%);
    }
    .money-content{
        padding-top: 184px;
        &__info{
            gap: 54px;
            &-first-text {  
                &-big {
                    padding-top: 40px;
                    padding-right: 14px;

                }
            }
            &-second-text {
                &-big {
                    padding-top: 36px;
                    padding-right: 28px;
                }
            }
        }
    }
}

@media (max-width: 370px) {
    .money-content{
        &__info{
             gap:80px;
             flex-direction: column;
             &-first-text {
                &-underline {
                    transform:  translateX(-30px);
                }
            }
            &-second-text {
                &-underline {
                    transform:  translateX(-30px);
                }
            }
        }
    }
}